
.wrapper {
    margin: 25px auto;
    width: 90%;
}

.leaflet-popup-content {
    font-size: 1.5em !important; 
}

#map {
    height: 300px;
    margin-bottom: 25px;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) { 
    .wrapper {
        width: 80%;
    }

    #map {
        height: 400px;
    }
 }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { 
    .wrapper {
        width: 70%;
    }

    #map {
        height: 500px;
    }
 }

/* Larger than desktop screen */
@media (min-width: 120.0rem) {  }