
.wrapper {
    margin: 25px auto;
    width: 90%;
}


/* Larger than mobile screen */
@media (min-width: 40.0rem) { 
    .wrapper {
        width: 80%;
    }
 }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { 
    .wrapper {
        width: 70%;
    }
 }

/* Larger than desktop screen */
@media (min-width: 120.0rem) {  }