<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/milligram.min.css">
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
    <div class="wrapper">
        <h1>Komoot GPX export</h1>
        <p>Um private Routen zu exporieren muss der Link vom Ersteller aus dem "Teilen" PopUp kopiert werden</p>
        <form action="/route" style="max-width: 500px">
            <label>URL </label><input id="route" name="route" type="text"></input>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<style>
</style>