<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/milligram.min.css">
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
    <div class="wrapper">
        <h1>Komoot GPX export</h1>
        <button type="button" onclick="download()"> Download GPX </button> <br>  
        <textarea readonly id="gpx" style="max-width:100%;height:300px">{{gpx}}</textarea><br>
    </div>
</body>
<script>
    function download() {
        let user_input = document.getElementById("gpx").value.trim();
        
        var hidden_a = document.createElement("a");
        hidden_a.setAttribute("href", "data:text/gpx;charset=utf-8," + encodeURIComponent(user_input));

        hidden_a.setAttribute("download", "track.gpx");
        document.body.appendChild(hidden_a);
        hidden_a.click();
        document.body.removeChild(hidden_a);
    }
</script>
