<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/milligram.min.css">
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
    <div class="wrapper">
        <h1>Komoot GPX export</h1>
        <h4 style="margin-bottom: 0;">{{name}}</h4>
        <div style="margin-bottom: 25px;">creator: {{creator}}</div>
        <button type="button" onclick="download()"> Download GPX </button> <br>  
        <label for="gpx">GPX: </label>
        <textarea readonly id="gpx" style="max-width:100%;height:300px">{{gpx}}</textarea><br>
    </div>
</body>
<script>
    const MAX_FILENAME_LENGTH = 90;

    const reRelativePath = /^\.+(\\|\/)|^\.+$/;
    const reTrailingPeriods = /\.+$/;

    function download() {
        let user_input = document.getElementById("gpx").value.trim();
        
        var hidden_a = document.createElement("a");
        hidden_a.setAttribute("href", "data:text/gpx;charset=utf-8," + encodeURIComponent(user_input));

        let name = "{{name}}"
        let creator = "{{creator}}"
        hidden_a.setAttribute("download", filenamify(name) + "-track" + ".gpx");
        document.body.appendChild(hidden_a);
        hidden_a.click();
        document.body.removeChild(hidden_a);
    }

    function filenameReservedRegex() {
    	return /[<>:"/\\|?*\u0000-\u001F]/g;
    }

    function windowsReservedNameRegex() {
        return /^(con|prn|aux|nul|com\d|lpt\d)$/i;
    }

    function filenamify(string, options = {}) {
	const reControlChars = /[\u0000-\u001F\u0080-\u009F]/g; // eslint-disable-line no-control-regex
	const reRepeatedReservedCharacters = /([<>:"/\\|?*\u0000-\u001F]){2,}/g; // eslint-disable-line no-control-regex

	if (typeof string !== 'string') {
		throw new TypeError('Expected a string');
	}

	const replacement = options.replacement === undefined ? '!' : options.replacement;

	if (filenameReservedRegex().test(replacement) && reControlChars.test(replacement)) {
		throw new Error('Replacement string cannot contain reserved filename characters');
	}

	if (replacement.length > 0) {
		string = string.replace(reRepeatedReservedCharacters, '$1');
	}

	string = string.normalize('NFD');
	string = string.replace(reRelativePath, replacement);
	string = string.replace(filenameReservedRegex(), replacement);
	string = string.replace(reControlChars, replacement);
	string = string.replace(reTrailingPeriods, '');

	if (replacement.length > 0) {
		const startedWithDot = string[0] === '.';

		// We removed the whole filename
		if (!startedWithDot && string[0] === '.') {
			string = replacement + string;
		}

		// We removed the whole extension
		if (string[string.length - 1] === '.') {
			string += replacement;
		}
	}

	string = windowsReservedNameRegex().test(string) ? string + replacement : string;
	const allowedLength = typeof options.maxLength === 'number' ? options.maxLength : MAX_FILENAME_LENGTH;
	if (string.length > allowedLength) {
		const extensionIndex = string.lastIndexOf('.');
		if (extensionIndex === -1) {
			string = string.slice(0, allowedLength);
		} else {
			const filename = string.slice(0, extensionIndex);
			const extension = string.slice(extensionIndex);
			string = filename.slice(0, Math.max(1, allowedLength - extension.length)) + extension;
		}
	}

	return string;
}
</script>
